.flex-container {
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px dashed green;
}
.box {
  height: 50px;
  width: 50px;
  /* border: 2px dashed red; */
}
.box h1 {
  /* border: 1px solid white; */
  font-family: sans-serif;
  color: white;
  text-align: center;
  font-weight: lighter;
  margin: 0;
}
