.box {
  height: 200px;
  width: 200px;
  border: 20px solid purple;
  background: yellow;
}
.container {
  height: 400px;
  background-color: pink;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
